@model IEnumerable<Lab03Mahdi.Models.Course>
@{
    string url = ViewContext.HttpContext.Request.Path.ToUriComponent();
    string fullUrl = "/Course/Drop?returnUrl=" + url + "&id=";
}
<p>
    <a asp-action="ShowCourses" asp-controller="Course" asp-route-returnUrl="@url">Register to a Course</a>
    @*<a asp-action="Create" asp-controller="Course" asp-route-returnUrl="@url">Create New Course</a>*@
</p>
<table class="table">
    <thead class="thead-light">
        <tr>
            <th scope="col">Course Name</th>
            <th scope="col">Semester</th>
            <th scope="col">Description</th>
            <th scope="col">Date Added</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.CourseName
                </td>
                <td>
                    @item.Semester
                </td>
                <td>
                    @item.CourseDescription
                </td>
                <td>
                    @item.DateAdded.ToString("dddd dd MMMM")
                </td>
                <td>
                    <span id="@item.Guid" class="@fullUrl" onclick="setItem(this)"><a href="#">Drop</a></span>
                </td>

            </tr>

        }
    </tbody>
</table>
<script>
    function setItem(el) {
        document.getElementById('id01').style.display = 'block';

        var url_full = el.getAttribute('class');
        var clicked_id = el.getAttribute('id');
        document.getElementById('url_to_delete').title = url_full;
        document.getElementById('guid_to_delete').title = clicked_id;

    };
    function deleteItem() {
        var idd = document.getElementById('guid_to_delete').title;
        var url = document.getElementById('url_to_delete').title;
        window.location.replace(url + idd);
    };
</script>
