@model IEnumerable<Lab03Mahdi.Models.Appointment>
@inject UserManager<AppUser> UserManager
@{
    string url = ViewContext.HttpContext.Request.Path.ToUriComponent();
    string fullUrl = "/Students/CancelAppointment?returnUrl="+url+"&id=";
}
<h5>
    My Appointments:
</h5>
@*<p>
    <a asp-action="Create" asp-controller="Appointment" asp-route-returnUrl="@url">Create New Appointment</a>
</p>*@
<table class="table">
    <thead class="thead-light">
        <tr>
            <th scope="col">Scheduled Time</th>
            <th scope="col">Teacher</th>
            <th scope="col">Location</th>
            <th scope="col">Confirmed</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            var teacher = UserManager.FindByIdAsync(item.TeacherId).Result;
            var teacherName = teacher.FirstName + ", " + teacher.LastName;
            <tr>
                <td>
                    @item.ScheduledTime.ToString()
                </td>
                <td>
                    @Html.ActionLink(teacherName, "ShowTeacher", "Student", new { id = item.TeacherId, returnUrl = url })
                </td>
                <td>
                    @item.Location
                </td>
                <td>
                    @{var confirm = item.Confirmed ? "Yes" : "No";} @confirm
                </td>
                <td>

                    @*@Html.ActionLink("Edit", "Edit", "Appointment", new { id = item.Guid, returnUrl = url }) |*@
                    <span id="@item.Guid" class="@fullUrl" onclick="setItem(this)"><a href="#">Cancel</a></span>

                </td>

            </tr>

        }
    </tbody>
</table>
<script>
    function setItem(el) {
        document.getElementById('id01').style.display = 'block';
        
        var url_full = el.getAttribute('class');
        var clicked_id = el.getAttribute('id');
        document.getElementById('url_to_delete').title = url_full;
        document.getElementById('guid_to_delete').title = clicked_id;

    };
    function deleteItem() {
        var idd = document.getElementById('guid_to_delete').title;
        var url = document.getElementById('url_to_delete').title;
        window.location.replace(url+idd);
    };
</script>
